.screenShotsContainer {
    margin-top: 1rem;
}

.screenShotsContainer > h1 {
    background-color: #05386B;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0.5rem 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.carousel {
    width: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#swiper {
    width: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#swiper #swiperSlide > img {
    width: 100%;
    height: 30rem;
    cursor: pointer;
    object-fit: cover;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.swiper-pagination-bullet {
    background-color: #05386B !important;
    opacity: 1 !important;
    width: 1rem !important;
    height: 1rem !important;
}

.swiper-pagination-bullet-active {
    background-color: black !important;
    width: 1rem !important;
    height: 1rem !important;
}


.swiper-button-next, .swiper-button-prev {
    color: white !important;
    opacity: 1 !important;
}

#dark .swiper-pagination-bullet-active {
    background-color: white !important;
}


@media only screen and (max-width: 400px) {
    #swiper #swiperSlide > img {
        height: 15rem;
    }
}

