.storesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.storesContainer > h1 {
    background-color: #05386B;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding: 0.5rem 0;
    width: 100%;
}

.stores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2.5rem;
}


.storeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#storeIcon {
    cursor: pointer;
    transition: 0.3s;
}

#storeIcon:hover {
    transform: scale(1.2);
}

.storeBox > h2 {
    font-size: 1rem;
    padding-top: 0.2rem;
}

#storeIcon {
    color: black;
}

