.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05386B;
    border-radius: 15px;
    transition: 0.2s;
}

.game:hover {
    transform: scale(1.2);
}


.game > button > img {
    width: 15rem;
    height: 10rem;
    cursor: pointer;
    object-fit: cover;

}

.gameDetails {
    width: 100%;

}

.game > h1 {
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    color: white;
    padding: 0.5rem 0;

}

.gameInfo-extension {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}

.gameInfo-extension  h2 {
    font-size: 0.875rem;
}

.metaScore {
    width: 2rem;
    height: 2rem;
    background-color: #66CC33;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    margin: 0.5rem;
}

.releaseYear {
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0.5rem;
    color: white;
    margin: 0.5rem;
}

.heartBorderIcon {
    font-size: 2rem !important;
    color: white !important;
    cursor: pointer !important;
}

.heartFullIcon {
    font-size: 2rem !important;
    color: red !important;
    cursor: pointer !important;
}