.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05386B;
    border-radius: 15px;
    transition: 0.2s;
}

.game:hover {
    transform: scale(1.2);
}


.game > img {
    width: 15rem;
    height: 10rem;
    cursor: pointer;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.gameInfo {
    width: 100%;

}

.gameInfo > p {
    padding-top: 0.5rem;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: white;

}

.gameInfo-extension {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
}

.metaScore {
    width: 2rem;
    height: 2rem;
    background-color: #66CC33;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    margin: 0.5rem;
}

.releaseYear {
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0.5rem;
    color: white;
    margin: 0.5rem;
}
