.pagination {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem

}

.pagesBox {
    width: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    height: 1rem;
    border-radius: 5px;
    background-color: teal;
    text-align: center;
    cursor: pointer;
}