.gameInfo{
    width: 50%;
    margin: auto;
    padding-top: 6rem;
}

.gameInfo > h1 {
    background-color: #05386B;
    width: 100%;
    text-align: center;
    color: white;
    padding: 1rem 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.gameInfo > img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.gameInfo > h2 {
    background-color: #05386B;
    color: white;
    text-align: center;
    margin-top: 1rem;
}

.gameInfo > p {
    background-color: #05386B;
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.descriptionTitle {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 0.5rem;

}

.smallDetailsContainer {
    background-color: #05386B;
    margin-top: 1rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.detailsBox {
    padding: 0.5rem 1rem 1rem 1rem;
}

.detailsBoxTitle {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 0.5rem;
}

.boxTwo {

}

.screenShotsTitle{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0.5rem 0;
}

.carousel {
    width: 100%;
}

#swiper {
    width: 100%;
}

.carouselImg {
    width: 100%;
    height: 30rem;
    cursor: pointer;
    object-fit: cover;
}

.developersTitle {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0.5rem 0;
}

.developersLogos{
    display: flex;
    flex-wrap: wrap;
}

.swiper-pagination-bullet {
    background-color: black !important;
    opacity: 1 !important;
    width: 1rem !important;
    height: 1rem !important;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
    width: 1rem !important;
    height: 1rem !important;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
    opacity: 1 !important;
}

@media only screen and (max-width: 900px) {
    .gameInfo{
        width: 100%;
    }
}


