.finishContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30rem;
}

.finishContainer > h1 {
    padding-bottom: 2rem;
    font-size: 52px;
    font-weight: 400;
    text-align: center;
}

.finishContainer > button {
    min-width: max-content;
    margin-bottom: 1rem;
    font-size: 30px !important;
    background-color: #05386B;
    border-radius: 999px!important;
}