.finishContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30rem;
}

.finishContainer > h1 {
    padding-bottom: 2rem;
    font-size: 52px;
    font-weight: 400;
    text-align: center;
}

.finishContainer > button {
    min-width: max-content;
    margin-bottom: 1rem;
    font-size: 30px !important;
    background-color: #05386B !important;
    border-radius: 999px!important;
    transition: 0.3s;
}

.finishContainer > button:hover {
   transform: scale(1.2);
}

#dark .finishContainer > h1 {
    color: white;
}

@media only screen and (max-width: 400px) {
    .finishContainer {
        padding-top: 14rem;
    }

    .finishContainer > button {
      font-size: 22.5px !important;
    }
}
