.gameModeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15rem;
    padding-top: 17.5rem;
}

.gameModeContainer > h1 {
    padding-bottom: 2rem;
    font-size: 52px;
    font-weight: 400;
    text-align: center;
}

.modeOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameModeContainer > button {
    margin-top: 2rem;
}

@media only screen and (max-width: 900px) {
    .gameModeContainer {
        padding-top: 10rem;
    }
}

@media only screen and (max-width: 400px) {
    .gameModeContainer {
        padding-top: 14rem;
    }
}