.genreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
    padding-top: 15rem;
}

.genreContainer > h1 {
    font-size: 52px;
    font-weight: 400;
    text-align: center;
}

.genres {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.genresBox {
    display: flex;
    flex-direction: column;
}

#dark .genreContainer > h1 {
    color: white;
}

@media only screen and (max-width: 1300px) {
    .genreContainer > h1 {
        font-size: 2rem;
    }
    .genreContainer {
        padding-top: 10rem;
    }
}

@media only screen and (max-width: 900px) {
    .genreContainer > h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 400px) {
    .genreContainer {
        padding-top: 8rem;
    }
    .genreContainer > h1 {
        font-size: 2rem;
    }

}


