.importanceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20rem;
    padding-top: 17.5rem;
}

.importanceContainer > h1 {
    padding-bottom: 2rem;
    font-size: 52px;
    font-weight: 400;
    text-align: center;
}

.importanceOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dark .importanceContainer > h1 {
    color: white;
}

@media only screen and (max-width: 400px) {
    .importanceContainer {
        padding-top: 8rem;
    }
}
