.opening {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15rem;
}

.opening > h1 {
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
    transform: translateX(-100%);
    transition: 2s;
    opacity: 0;
}

.opening > h2 {
    padding-top: 1rem;
    font-size: 5rem;
    font-weight: 400;
    text-align: center;

    transform: translateX(100%);
    transition: 2s;
    opacity: 0;
}

.startButtonContainer {
    transform: translateY(120%);
    transition: 2s;
    opacity: 0;
    padding-top: 2rem;
}


#startButton {
    font-size: 3rem !important;
    transition: 0.3s !important;
    border-radius: 999px!important;
    background-color: #05386B!important;
}

#startButton:hover {
    transform: scale(1.2) !important;
}

#dark .opening  {
    color: white;
}


@media only screen and (max-width: 400px) {
    .opening > h1 {
        font-size: 4rem;
    }

    .opening > h2 {
        font-size: 2rem;
        padding-top: 0;
    }

    #startButton {
        font-size: 1rem !important;
    }

    .startButtonContainer {
        padding-top: 0.5rem;
    }

}

