.opening {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15rem;
}

#openingHeader1 {
    padding-top: 4rem;
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
    transform: translateX(-1400px);
    transition: 2s;
    opacity: 0;
}

#openingHeader2 {
    padding-top: 2rem;
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 1rem;
    transform: translateX(1400px);
    transition: 2s;
    opacity: 0;
}

.startButtonContainer {
    transform: translateY(400px);
    transition: 2s;
    opacity: 0;
    padding-top: 2rem;
}


#startButton {
    font-size: 3rem !important;
    transition: 0.3s !important;
    background-color: #05386B !important;
    border-radius: 999px!important;
}

#startButton:hover {
    transform: scale(1.2) !important;
}