.platformButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    padding: 1rem;

}

.platformButton  img {
    object-fit: contain;
    height: 9rem;
    cursor: pointer;
    transition: 0.3s;
}

.platformButton img:hover {
    transform: scale(1.2);
}

.platformButton > h2 {
    padding-top: 1rem;
    font-size: 1rem;
}

@media only screen and (max-width: 900px) {
    .platformButton{
        padding: 0.5rem;
    }
    .platformButton  img {
        height: 7.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .platformButton{
        padding: 0.25rem;
    }
    .platformButton  img {
        height: 6rem;
    }
    .platformButton > h2 {
        font-size: 1rem;
    }
}


