.platformContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
    padding-top: 7rem;
}

.platformContainer > h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.platforms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

#dark .platformContainer > h1 {
    color: white;
}

@media only screen and (max-width: 1300px) {
    .platformContainer > h1 {
        font-size: 2rem;
    }
    .platforms{
        gap: 0;
    }
}

@media only screen and (max-width: 900px) {
    .platformContainer > h1 {
        font-size: 2rem;
    }
    .platforms{
        gap: 0;
    }
}

@media only screen and (max-width: 400px) {
    .platformContainer > h1 {
        font-size: 1.5rem;
    }
   .platforms{
       gap: 0;
   }
}




