header {
    width: 100%;
    background-color: #5CDB95;
    position: fixed;
    z-index: 10;
    padding: 0.5rem;
}

nav {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5CDB95;
}

#logo {
    cursor: pointer;
    object-fit: contain;
    height: 2rem;
    background-color: white;
    border-radius: 15px;
}

#favoriteIcon {
    background-color: #5CDB95;
    color: #B8192F;
    font-size: 2rem;
    cursor: pointer;
}

button {
    border: none;
    background: none;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.searchBox {
    height: 2rem;
    width: 50%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 2px solid #05386B ;
}

.searchBox > input  {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    outline: none;
    padding-left: 1rem;
    background-color: white;
}

#searchIcon {
    padding-right: 0.5rem;
    border-radius: 15px;
    color: #05386B;
    background-color: white;
}

.navRightSide {
    display: flex;
    gap: 1rem;
}

#themeToggler {
    background-color: #5CDB95;
    color: #05386B;
    font-size: 2rem;
    cursor: pointer;

}

#dark header, #dark header nav, #dark #favoriteIcon, #dark #themeToggler{
    background-color: #379683;
}

#dark .searchBox, #dark .searchBox > input, #dark #searchIcon {
    background-color: #292929;
    color: white;
}

@media only screen and (max-width: 900px) {
    nav {
        width: 100%;
    }
}