.navBar {
    width: 100%;
    background-color: #5CDB95;
    position: fixed;
    z-index: 10;
}

.navBarContent {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #379683;
}

#logo {
    background-color: #5CDB95;
    color: #05386B;
    font-size: 4rem;
    cursor: pointer;
}

#favoriteIcon {
    background-color: #5CDB95;
    color: #05386B;
    font-size: 4rem;
    cursor: pointer;
}

button {
    border: none;
    background: none;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.searchBox {
    height: 2rem;
    width: 50%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 2px solid #05386B ;
}

.searchBox > input  {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    outline: none;
    padding-left: 1rem;
    background-color: white;
}

button #searchIcon {
    padding-right: 0.5rem;
    border-radius: 15px;
    color: #05386B;
    background-color: white;
}

@media only screen and (max-width: 900px) {
    .navBarContent {
        width: 100%;
    }
}