.navBar {
    width: 100%;
    background-color: #5CDB95;
    position: fixed;
    z-index: 10;
}

.navBarContent {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #379683;
}

#logo {
    color: #05386B;
    font-size: 4rem !important;
    cursor: pointer;
}

.rightSide {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

#favoriteIcon {
    padding-right: 1rem;
    color: #05386B;
    font-size: 3rem !important;
}

.searchBox {
    height: 2rem;
    width: 50%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 2px solid #05386B ;
}

.searchBox > input {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    outline: none;
    padding-left: 1rem;
}

#searchIcon {
    padding-right: 0.5rem !important;
    color: #05386B !important;
}