.noResults {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.noResults > h1 {
    text-align: center;
    font-size: 2rem;
}


.noResults > button {
    font-size: 1.5rem !important;
    transition: 0.3s !important;
    border-radius: 999px!important;
    background-color: #05386B!important;
    margin-top: 1rem !important;
}

.noResults > button:hover {
    transform: scale(1.2);
}

#dark .noResults > h1 {
    color: white;
}