@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, serif;
}

ul {
  list-style-type: none;
}

html {
  font-size: 16px;
}

.App {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#dark {
  background-color: #292929;
}

#dark ::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}



