@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, serif;
}

html {
  font-size: 16px
}

.App {
  background-color: white;
}




