.frontPage {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: white;
}

#proceedButton {
    border-radius: 999px;
    background-color: #05386B;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#proceedButton:hover {
    transform: scale(1.2);
}

/* DARK MODE */
#dark .frontPage {
    background-color: #292929;
}

@media only screen and (max-width: 400px) {
    .frontPage {
        width: 100%;
    }
}



