.frontPage {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: white;
}

#arrowDown {
    background-color: white;
    font-size: 60px;

    cursor: pointer;
    transition: 0.3s;
}

#arrowDown:hover {
    transform: scale(1.2);
}

/* DARK MODE */
#dark .frontPage {
    background-color: #292929;
}

#dark #arrowDown {
    background-color: #292929;
    color: white;
}

@media only screen and (max-width: 400px) {
    .frontPage {
        width: 100%;
    }
}



